#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Pankti GUI
Exec=/home/palash/d/cpank/zig-out/bin/panktiw
Icon=/home/palash/d/cpank/cpankproj/icon.ico
Terminal=false
Type=Application
