#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Pankti
Exec=/usr/local/bin/pankti
Icon=/usr/local/share/pankti/icons/icon.ico
Terminal=true
Type=Application
