#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Pankti
Exec=/home/palash/d/cpank/zig-out/bin/pankti
Icon=/home/palash/d/cpank/cpankproj/icon.ico
Terminal=true
Type=Application
