@font-face {
  font-family: 'Noto Serif Bengali';
  font-style: normal;
  font-display: swap;
  src: url('fonts/NotoSerifBengali-Regular.ttf');
}

body {
  font-family: 'Noto Serif Bengali', sans-serif;
}

code {
  font-family: 'Noto Serif Bengali', monospace;
}
